[submodule "easyIO"]
	path = easyIO
	url = git@github.com:andrewcmyers/easyIO.git
[submodule "lwon"]
	path = lwon
	url = git@github.com:andrewcmyers/lwon.git
[submodule "src/maybe"]
	path = maybe
	url = git@github.com:andrewcmyers/maybe.git
